---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource/castoro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="tw-ml-8 tw-space-y-4">
			<h1
				style="font-family: castoro"
				class="tw-font-serif tw-font-bold tw-text-xl tw-mr-2"
			>
				Welcome to the Chard Hall of Records
			</h1>
			<p class="tw-mx-8">
				Where the fierce and friendly competition between housemates is
				documented for posterity. Here, we chronicle the various challenges,
				contests, and games that take place within a house of friends, from epic
				Madden games to intense Die tournaments. Our goal is to celebrate the
				camaraderie and sportsmanship of these competitions, as well as to
				provide a comprehensive record of the winners, losers, and everything in
				between. Whether you're a competitor, a spectator, or simply someone who
				appreciates the thrill of the game, we invite you to explore The Chard
			</p>
			<!-- <p> -->
			<!-- 	Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem -->
			<!-- 	optio voluptates unde laborum aliquam iure placeat culpa officia eaque, -->
			<!-- 	autem incidunt molestiae magnam ipsam beatae? Aut consequuntur -->
			<!-- 	blanditiis beatae iure. -->
			<!-- </p> -->
		</main>
		<Footer />
	</body>
</html>
