---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Navbar, NavbarBrand, Nav, NavItem, NavLink } from "sveltestrap";
// import "@fontsource/castoro";
---

<header>
	<Navbar color="light" light expand="sm">
		<NavbarBrand style="font-family: castoro; font-weight: bold" href="/">
			Chard Hall of Records
		</NavbarBrand>
		<Nav class="mx-end gap-4" navbar>
			<NavItem>
				<NavLink href={"/"}>Home</NavLink>
			</NavItem>
			<NavItem>
				<NavLink href="/people">People</NavLink>
			</NavItem>
			<NavItem>
				<NavLink href="/categories">Leaderboards</NavLink>
			</NavItem>
			<!-- <NavItem><NavLink href={"/categories"}>Categories</NavLink></NavItem> -->
			<style>
				header {
					margin: 0em 0 2em;
				}
				h2 {
					margin: 0.5em 0;
				}
			</style>
		</Nav>
	</Navbar>
</header>
