---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Navbar, NavbarBrand, Nav, NavItem, NavLink } from "sveltestrap";
import "@fontsource/castoro";
---

<header>
	<Navbar color="light" light expand="sm">
		<NavbarBrand style="font-family: castoro" href="/">
			Chard Hall of Records
		</NavbarBrand>
		<Nav class="mx-end gap-4" navbar>
			<NavItem>
				<HeaderLink href="/">Home</HeaderLink>
			</NavItem>
			<NavItem>
				<HeaderLink href="/people">People</HeaderLink>
			</NavItem>
			<NavItem>
				<HeaderLink href="/leaderboards">Leaderboards</HeaderLink>
			</NavItem>
		</Nav>
	</Navbar>
	<style>
		header {
			margin: 0em 0 2em;
		}
		h2 {
			margin: 0.5em 0;
		}
	</style>
</header>
